
body{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: url('https://2.bp.blogspot.com/-UQz6Qc3WIcE/VH31egm41tI/AAAAAAAAAKQ/as4tzyvDVvg/s1600/Beautiful%2BNature%2BBeach%2BWallpaper%2BHd%2BBackground%2BWallpaper%2B19%2BHD%2BWallpapers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}

h2{
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    font-size: 30px;
    padding: 15px auto;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
    
#animations{
    background-color: rgba(255, 255, 255, 0.582);
    width: 600px;
    margin: 0 auto;
    height: 100%;
}

#lazy-block{
    width: 150px;
    background-color:rgba(79, 81, 82, 0.356);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 7px 5px;
    position: relative;
    margin: 0 auto;
    transition: 1s ease;
    cursor: pointer;
    animation: move-left-right 5s infinite;
    margin-bottom: 20px;
}

@keyframes move-left-right{
    0%{ left: -40px; background-color: rgba(0, 195, 255, 0.356);}
    25%{ left: 0px; background-color:  rgba(0, 195, 255, 0.65);}
    50%{ left: 40px; background-color:rgba(0, 195, 255, 0.356);}
    75%{ left: 0px; background-color: rgba(0, 195, 255, 0.65);}
    100%{ left: -40px; background-color: rgba(0, 195, 255, 0.356);} 
}


// ---------------------- ghost ----------------------
.ghost-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -64.5px;
    margin-top: -85.5px;
  }
  
  .ghost {
    animation: float 3s ease-out infinite;
  }
  
  @keyframes float {
    50% {
       transform: translate(0, 20px);
    }
  }
  .shadowFrame {
    width: 130px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .shadow {
    animation: shrink 3s ease-out infinite;
    transform-origin: center center;
    ellipse {
      transform-origin: center center;
    }
  }
  
  @keyframes shrink {
    0% {
      width: 90%;
      margin: 0 5%;
    }
    50% {
      width: 60%;
      margin: 0 18%;
    }
    100% {
      width: 90%;
      margin: 0 5%;
    }
  }