
body{
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    font-size: 16px;
    height: 100vh;
    color: white
}

h2{
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    font-size: 30px;
}

hr.style-one {
  border: 0;
  height: 1px;
  background: #ccc;
  background-image: linear-gradient(to right, #333, #ccc, #333);
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.616);
    border-bottom: 1px solid rgba(255, 255, 255, 0.300);
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(255, 255, 255);
}

#title i{
  padding: 5px;
  animation: colorful 3s infinite;
  
}

@keyframes colorful{
  0%{ color: #9400D3 }
  20%{ color: #00b7ff }
  40%{ color: #00FF00 }
  60%{ color: #FFFF00 }
  70%{ color: #b993c7 }
  80%{ color: #FF7F00 }
  90%{ color: #00b452 }
  100%{ color: #FF0000 }
}

#by-link{
  color:white;
  padding: 15px;
  padding-top: 43px;
  text-decoration: none;
}


    
#animations{
    height: 100vh;
    position: absolute;
    width: 100%;
}

.animation-div{
  position: relative;
  cursor: pointer;
}
































/* ---------------------- lazy block ---------------------- */
#lazy-block{
    width: 150px;
    background-color:rgba(79, 81, 82, 0.356);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 7px 5px;
    position: relative;
    margin: 0 auto;
    transition: 1s ease;
    animation: move-left-right 5s infinite;
    margin-bottom: 20px;
}

@keyframes move-left-right{
    0%{ left: -40px; background-color: rgba(0, 195, 255, 0.356);}
    25%{ left: 0px; background-color:  rgba(0, 195, 255, 0.65);}
    50%{ left: 40px; background-color:rgba(0, 195, 255, 0.356);}
    75%{ left: 0px; background-color: rgba(0, 195, 255, 0.65);}
    100%{ left: -40px; background-color: rgba(0, 195, 255, 0.356);} 
}

/* ---------------------- ghost ---------------------- */
.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
      transform: translate(0, 20px);
  }
}
.shadowFrame {
  width: 130px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
  ellipse {
    transform-origin: center center;
  }
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}

/* ---------------------- coffee ---------------------- */
.coffee-container {
  position: relative;
  width: 300px;
  height: 280px;
  margin-right: auto;
  margin-left: auto;
  margin: 30px auto;
}
.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddcfcc;
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}
.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}
.coffee-header__button-one {
  left: 15px;
}
.coffee-header__button-two {
  left: 50px;
}
.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: #9acfc5;
  border: 5px solid #43beae;
  box-sizing: border-box;
}
.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #bcb0af;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}
.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}
.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}
.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #FFF;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #FFF;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;  
    opacity: 1;
  }
  5% {
    height: 0px;  
    opacity: 1;
  }
  20% {
    height: 62px;  
    opacity: 1;
  }
  95% {
    height: 62px;
    opacity: 1;
  }
  100% {
    height: 62px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;  
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: 25px;
  left: calc(50% - 47.5%);
  background-color: #41bdad;
  border-radius: 10px;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  background-color: #000;
}

/* ---------------------- space ---------------------- */
.illustration {
	// display: block;
	// position: relative;
	width: auto;
	// height: 90%;
	margin: 0 auto;
	top: 50%;
	// transform: translateY(-50%);
}

.hover {
	width: 100%;
	height: 100%;
	animation: hover 5s ease-in-out infinite;
	animation-fill-mode: forwards;
}

.number-one {
	transform: translateY(-10px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-10 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-fill-mode: forwards;
}

.number-two {
	transform: translateY(-20px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-20 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-three {
	transform: translateY(-30px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-30 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-four {
	transform: translateY(-50px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-50 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-five {
	transform: translateY(-60px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-60 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-six {
	transform: translateY(-70px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-70 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-seven {
	transform: translateY(-80px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-80 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-eight {
	transform: translateY(-90px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-90 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-nine {
	transform: translateY(-100px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-100 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-ten {
	transform: translateY(-110px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-110 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-eleven {
	transform: translateY(-120px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-120 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-twelve {
	transform: translateY(-150px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-150 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

.number-thirteen {
	transform: translateY(-160px) translateZ(0);
	opacity: 0;
	animation: fadeNumberDown-160 (random(4000) + 2000)+ms ease-in-out infinite;
	animation-delay: random(6000) * 1ms;
	animation-fill-mode: forwards;
}

@keyframes hover {
	0% { transform: translateY(0) }
	25% { transform: translateY(-3px) }
	75% { transform: translateY(3px) }
	100% { transform: translateY(0) }
}

// Params: $tstart = translate offset (start point), $tend = translate length (end point)
@mixin generateNumAnimation($tstart, $tend) {
	@keyframes fadeNumberDown-#{$tstart} {
		0% {
			transform: translateY(-$tstart * 1px) translateZ(0);
				opacity: 0;
				}
		40% { opacity: 0.4; }
		60% { opacity: 0.4; }
		100% {
			transform: translateY($tend * 1px) translateZ(0);
			opacity: 0;
		}
	}
}

// Create keyframes
// Number one
@include generateNumAnimation(10, 140);
// Number two
@include generateNumAnimation(20, 140);
// Number three
@include generateNumAnimation(30, 130);
// Number four
@include generateNumAnimation(50, 110);
// Number five
@include generateNumAnimation(60, 90);
// Number six
@include generateNumAnimation(70, 80);
// Number seven
@include generateNumAnimation(80, 80);
// Number eight
@include generateNumAnimation(90, 60);
// Number nine
@include generateNumAnimation(100, 60);
// Number ten
@include generateNumAnimation(110, 30);
// Number eleven
@include generateNumAnimation(120, 20);
// Number twelve
@include generateNumAnimation(150, 10);
// Number thirteen
@include generateNumAnimation(160, 10);

/* ----------------------   ---------------------- */
#aquarium{
  margin-bottom: 50px;

}

.aquarium {
  position: relative;
  overflow: hidden;
  background: black;
  width: 800px;
  height: 500px;
  margin: auto;
}

.aquarium__table {
  position: absolute;
  width: 341px;
  height: 6px;
  left: 230px;
  top: 381px;
  border-radius: 3px;
  background: gray;
}
.aquarium__table:before {
  content: '';
  position: absolute;
  width: 131px;
  height: 19px;
  box-sizing: border-box;
  left: 105px;
  top: -15px;
  border-radius: 6px;
  border: 4px solid gray;
  background: #00AAFF;
}
.aquarium__aquarium {
  position: absolute;
  width: 209px;
  height: 148px;
  box-sizing: border-box;
  left: 296px;
  top: 223px;
  border: 5px solid gray;
  border-radius: 40px 40px 50px 50px / 74px 74px 74px 74px;
  box-shadow: inset -30px 0 0 0 rgba(54, 125, 231, 0.2);
  overflow: hidden;
  z-index: 1;
}
.aquarium__water {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 39px;
  opacity: .5;
  background: #5bb8ff;
  animation: sponge-water 2.5s linear infinite;
}
.aquarium__drops {
  position: absolute;
  top: 142px;
  left: 304px;
  width: 190px;
  height: 125px;
  overflow: hidden;
}
.aquarium__drop {
  position: absolute;
  top: 100px;
  left: 93px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #80D5FF;
  animation: sponge-drop 2.5s linear infinite;
}
.aquarium__water-column {
  position: absolute;
  top: 122px;
  left: 70px;
  width: 60px;
  height: 130px;
  opacity: .5;
  background: #5bb8ff;
  animation: sponge-water-column 2.5s linear infinite;
}
.aquarium__bubble:nth-child(2) {
  position: absolute;
  left: 30px;
  top: 25px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-1 2.5s linear infinite;
}
.aquarium__bubble:nth-child(3) {
  position: absolute;
  left: 140px;
  top: 84px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-2 2.5s linear infinite;
}
.aquarium__bubble:nth-child(4) {
  position: absolute;
  left: 139px;
  top: 58px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-3 2.5s linear infinite;
}
.aquarium__bubble:nth-child(5) {
  position: absolute;
  left: 48px;
  top: 67px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-4 2.5s linear infinite;
}
.aquarium__bubble:nth-child(6) {
  position: absolute;
  left: 48px;
  top: 92px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-5 2.5s linear infinite;
}
.aquarium__bubble:nth-child(7) {
  position: absolute;
  left: 140px;
  top: 92px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-6 2.5s linear infinite;
}
.aquarium__bubble:nth-child(8) {
  position: absolute;
  left: 139px;
  top: 93px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-7 2.5s linear infinite;
}
.aquarium__bubble:nth-child(9) {
  position: absolute;
  left: 48px;
  top: 82px;
  width: 10px;
  height: 10px;
  transform: scale(1);
  background: white;
  border-radius: 100%;
  z-index: 2;
  animation: sponge-bubble-8 2.5s linear infinite;
}
.aquarium__splash:nth-child(3) {
  position: absolute;
  top: 84px;
  left: 30px;
  height: 8px;
  width: 4px;
  border-radius: 2px;
  opacity: .5;
  background: #5bb8ff;
  animation: sponge-splash-1 2.5s linear infinite;
}
.aquarium__splash:nth-child(3):before {
  content: '';
  position: absolute;
  top: 22px;
  left: -23px;
  height: 4px;
  width: 8px;
  border-radius: 2px;
  background: #5bb8ff;
}
.aquarium__splash:nth-child(3):after {
  content: '';
  position: absolute;
  top: 22px;
  left: 18px;
  height: 4px;
  width: 8px;
  border-radius: 2px;
  background: #5bb8ff;
}
.aquarium__splash:nth-child(4) {
  position: absolute;
  top: 84px;
  left: 155px;
  height: 8px;
  width: 4px;
  border-radius: 2px;
  opacity: .5;
  background: #5bb8ff;
  animation: sponge-splash-2 2.5s linear infinite;
}
.aquarium__splash:nth-child(4):before {
  content: '';
  position: absolute;
  top: 22px;
  left: -23px;
  height: 4px;
  width: 8px;
  border-radius: 2px;
  background: #5bb8ff;
}
.aquarium__splash:nth-child(4):after {
  content: '';
  position: absolute;
  top: 22px;
  left: 18px;
  height: 4px;
  width: 8px;
  border-radius: 2px;
  background: #5bb8ff;
}
.aquarium__sponge-box {
  position: absolute;
  width: 86px;
  height: 106px;
  left: 357px;
  top: 233px;
  animation: sponge-box 2.5s linear infinite;
}
.aquarium__body {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  left: 0;
  top: 0;
  box-shadow: inset 0 0 0 5px black, inset -10px 0 0 5px rgba(221, 165, 33, 0.47);
  border-radius: 13px;
  background: #FAEF37;
  overflow: hidden;
  animation: sponge-body 2.5s linear infinite;
}
.aquarium__body:before {
  content: '';
  position: absolute;
  top: 62px;
  left: 74px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background: white;
  border-radius: 100%;
  border: 5px solid black;
}
.aquarium__body:after {
  content: '';
  position: absolute;
  top: 93px;
  left: 14px;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  background: white;
  border-radius: 100%;
  border: 5px solid black;
}
.aquarium__body-hole {
  position: absolute;
  width: 22px;
  height: 22px;
  left: -3px;
  top: 67px;
  border-radius: 11px;
  background: rgba(0, 0, 0, 0.1);
}
.aquarium__body-hole:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: 70px;
  top: -46px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.aquarium__body-hole:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 57px;
  top: 17px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.aquarium__body-stripe {
  position: absolute;
  width: 23px;
  height: 13px;
  left: 45px;
  top: 0;
  border-radius: 0 10px 0 0;
  border-top: 5px solid black;
  border-right: 5px solid black;
}
.aquarium__body-stripe:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 10px;
  left: 23px;
  top: 9px;
  border-radius: 3px;
  background: black;
}
.aquarium__face {
  position: absolute;
  width: 46px;
  height: 56px;
  left: 20px;
  top: 42px;
}
.aquarium__face:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: black;
  animation: sponge-eye 2.5s linear infinite;
}
.aquarium__face:after {
  content: '';
  position: absolute;
  left: 37px;
  top: 0px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background: black;
  animation: sponge-eye 2.5s linear infinite;
}
.aquarium__mouth {
  position: absolute;
  width: 20px;
  height: 14px;
  box-sizing: border-box;
  left: 13px;
  top: 14px;
  border-radius: 4px 4px 14px 14px;
  border: 3px solid black;
  border-top-width: 6px;
  background: red;
  animation: sponge-mouth 2.5s linear infinite;
}
.aquarium__smile {
  position: absolute;
  left: 24px;
  top: 12px;
  animation: sponge-smile 2.5s linear infinite;
}
.aquarium__smile:before {
  content: '';
  position: absolute;
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 0 0 0 6px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(-45deg);
}
.aquarium__smile:after {
  content: '';
  position: absolute;
  left: -2px;
  width: 6px;
  height: 6px;
  border-radius: 0 0 0 6px;
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(-45deg);
}

/* Анимации */
@keyframes sponge-splash-1 {
  0% {
    transform: scale(0) translateY(30px);
  }
  9.01% {
    transform: scale(0) translateY(30px);
  }
  16.84% {
    transform: scale(1) translateY(0);
  }
  16.9% {
    transform: scale(0) translateY(0);
  }
  72.64% {
    transform: scale(0) translateY(30px);
  }
  81.44% {
    transform: scale(1) translateY(0);
  }
  81.5% {
    transform: scale(0) translateY(0);
  }
  100% {
    transform: scale(0) translateY(30px);
  }
}
@keyframes sponge-splash-2 {
  0% {
    transform: scale(0) translateY(30px);
  }
  14.4% {
    transform: scale(0) translateY(30px);
  }
  20.64% {
    transform: scale(1) translateY(0);
  }
  20.7% {
    transform: scale(0) translateY(0);
  }
  77% {
    transform: scale(0) translateY(30px);
  }
  83.24% {
    transform: scale(1) translateY(0);
  }
  83.3% {
    transform: scale(0) translateY(30px);
  }
  100% {
    transform: scale(0) translateY(30px);
  }
}
@keyframes sponge-bubble-1 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  45.9% {
    transform: scale(0) translate(8px, 16px);
  }
  46% {
    transform: scale(0.2) translate(8px, 16px);
  }
  50% {
    transform: scale(1) translate(17px, 33px);
  }
  50.1% {
    transform: scale(0) translate(17px, 33px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-bubble-2 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  47.9% {
    transform: scale(0) translate(0, 0);
  }
  48% {
    transform: scale(0.2) translate(0, 0);
  }
  52% {
    transform: scale(1) translate(25px, -58px);
  }
  52.1% {
    transform: scale(0) translate(25px, -58px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-bubble-3 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  50.9% {
    transform: scale(0) translate(0, 0);
  }
  51% {
    transform: scale(0.2) translate(0, 0);
  }
  55% {
    transform: scale(1) translate(18px, -34px);
  }
  55.1% {
    transform: scale(0) translate(18px, -34px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-bubble-4 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  52.9% {
    transform: scale(0) translate(0, 0);
  }
  53% {
    transform: scale(0.2) translate(0, 0);
  }
  57% {
    transform: scale(1) translate(-10px, -42px);
  }
  57.1% {
    transform: scale(0) translate(-10px, -42px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-bubble-5 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  54.9% {
    transform: scale(0) translate(0, 0);
  }
  55% {
    transform: scale(0.2) translate(0, 0);
  }
  60% {
    transform: scale(1) translate(-18px, -68px);
  }
  60.1% {
    transform: scale(0) translate(-18px, -68px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-bubble-6 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  57.9% {
    transform: scale(0) translate(0, 0);
  }
  58% {
    transform: scale(0.2) translate(0, 0);
  }
  62% {
    transform: scale(1) translate(-2px, -68px);
  }
  62.1% {
    transform: scale(0) translate(-2px, -68px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-bubble-7 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  60.9% {
    transform: scale(0) translate(0, 0);
  }
  61% {
    transform: scale(0.2) translate(0, 0);
  }
  65% {
    transform: scale(1) translate(20px, -68px);
  }
  65.1% {
    transform: scale(0) translate(20px, -68px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-bubble-8 {
  0% {
    transform: scale(0) translate(0, 0);
  }
  62.9% {
    transform: scale(0) translate(0, 0);
  }
  63% {
    transform: scale(0.2) translate(0, 0);
  }
  67% {
    transform: scale(1) translate(-8px, -56px);
  }
  67.9% {
    transform: scale(0) translate(-8px, -56px);
  }
  100% {
    transform: scale(0) translate(0, 0);
  }
}
@keyframes sponge-eye {
  9.36% {
    transform: scale(1);
  }
  9.37% {
    transform: scale(0);
  }
  14.0% {
    transform: scale(0);
  }
  14.01% {
    transform: scale(1);
  }
}
@keyframes sponge-mouth {
  0% {
    border-radius: 4px 4px 14px 14px;
    transform: scale(1);
    background: red;
  }
  9.36% {
    border-radius: 4px 4px 14px 14px;
    transform: scale(0);
    background: red;
  }
  28.08% {
    border-radius: 100%;
    transform: scale(0);
    background: black;
  }
  40.56% {
    border-radius: 100%;
    transform: scaleY(1.4);
    background: black;
  }
  42.12% {
    border-radius: 100%;
    transform: scaleY(1.4);
    background: black;
  }
  48.36% {
    border-radius: 100%;
    transform: scale(0);
    background: black;
  }
  76.4% {
    border-radius: 4px 4px 14px 14px;
    transform: scale(0);
    background: red;
  }
  76.44% {
    border-radius: 4px 4px 14px 14px;
    transform: scale(0.3);
    background: red;
  }
  93.6% {
    border-radius: 4px 4px 14px 14px;
    transform: scale(1);
    background: red;
  }
  100% {
    border-radius: 4px 4px 14px 14px;
    transform: scale(1);
    background: red;
  }
}
@keyframes sponge-smile {
  0% {
    opacity: 0;
  }
  48.2% {
    opacity: 0;
  }
  48.36% {
    opacity: 1;
  }
  76.44% {
    opacity: 1;
  }
  76.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sponge-water {
  6.24% {
    transform: translateY(0);
  }
  12.48% {
    transform: translateY(-11px);
  }
  78% {
    transform: translateY(-11px);
  }
  85.8% {
    transform: translateY(0);
  }
}
@keyframes sponge-drop {
  0% {
    transform: scale(0) translate(0, 24px);
  }
  7% {
    transform: scale(0) translate(0, 24px);
  }
  15.44% {
    transform: scale(2) translate(0, -36px);
  }
  27.8% {
    transform: scale(0) translate(0, 24px);
  }
  100% {
    transform: scale(0) translate(0, 24px);
  }
}
@keyframes sponge-water-column {
  0% {
    transform: scaleX(0) translateY(20px);
  }
  7.8% {
    transform: scaleX(1) translateY(20px);
  }
  18.72% {
    transform: scaleX(0.1) translateY(-12px);
  }
  29.64% {
    transform: scaleX(0.3) translateY(28px);
  }
  81.12% {
    transform: scaleX(1.4) translateY(28px);
  }
  95.16% {
    transform: scaleX(0) translateY(-132px);
  }
  100% {
    transform: scaleX(0) translateY(-132px);
  }
}
@keyframes sponge-box {
  0% {
    transform: translateY(-145px);
  }
  9.36% {
    transform: translateY(20px);
  }
  18.72% {
    transform: translateY(-5px);
  }
  28.08% {
    transform: translateY(-7px);
  }
  43.68% {
    transform: translateY(0px);
  }
  60.84% {
    transform: translateY(14px);
  }
  78% {
    transform: translateY(14px);
  }
  85.8% {
    transform: translateY(-144px);
  }
  93.6% {
    transform: translateY(-197px);
  }
  100% {
    transform: translateY(-164px);
  }
}
@keyframes sponge-body {
  0% {
    transform: rotate(-134deg) scale(1) translateX(0);
  }
  9.36% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
  48.36% {
    transform: rotate(0deg) scale(1) translateX(0);
  }
  59.28% {
    transform: rotate(0deg) scale(0.95) translateX(0);
  }
  60.84% {
    transform: rotate(0deg) scale(0.9) translateX(-1px);
  }
  62.4% {
    transform: rotate(0deg) scale(0.9) translateX(-3px);
  }
  65.52% {
    transform: rotate(0deg) scale(0.9) translateX(3px);
  }
  68.64% {
    transform: rotate(0deg) scale(0.9) translateX(-3px);
  }
  71.76% {
    transform: rotate(0deg) scale(0.9) translateX(5px);
  }
  74.88% {
    transform: rotate(0deg) scale(0.9) translateX(-5px);
  }
  78% {
    transform: rotate(0deg) scale(0.9) translateX(0);
  }
  85.8% {
    transform: rotate(135deg) scale(1) translateX(0);
  }
  93.6% {
    transform: rotate(180deg) scale(1) translateX(0);
  }
  100% {
    transform: rotate(210deg) scale(1) translateX(0);
  }
}
















  /****************** MOBILE ******************/
@media only screen and (max-width: 600px) {
    h2{
        font-size: 20px;
    }
  }